div.container {
    display: flex;
    flex-direction: column;
    border: none;
    width: 340px;
    height: 418px;
    margin-top: 50px;
    background-color: whitesmoke;
}

.container-signin {
    height: 350px;
    border: solid 1px gray;
    background-color: white;
}

.container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: solid 1px gray;
    margin-top: 15px;
    background-color: white;
}

.title {
    font-family: Haettenschweiler;
    font-size: 40px;
    margin-bottom: 40px;
}

.form-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 260px;
    height: 32px;
    margin-bottom: 6px;
    outline: none;
    border-color: gray;
    border-radius: 3px;
    border-width: 1px;
}

.button {
    color: white;
    font-size: medium;
    width: 260px;
    height: 32px;
    border-radius: 3px;
    background-color: royalblue;
}

.button.signin {
    margin-top: 10px;
    margin-bottom: 35px;
}

.button.signin:active {
    border-color: aqua;
}

.register-login {
    font-weight: 1px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: white;
    color:blue;
}

.ou {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.ou-text {
    margin: 0 6px 0 6px;
}

.liner {
    height: 1px;
    width: 110px;
    background-color: gray;
}

.text {
    font-weight: 1px;
    font-size: 14px;
}

.notice {
    color: red;
}