.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 260px;
    height: 32px;
    margin-bottom: 6px;
    outline: none;
    border-color: gray;
    border-radius: 3px;
    border-width: 1px;
}

.button {
    color: white;
    font-size: medium;
    width: 260px;
    height: 32px;
    border-radius: 3px;
    background-color: royalblue;
}