a {
    color: black;
}

.nav {
    position: fixed;
    top: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-left: 8%;
    width: 100vw;
    height: 50px;
    border-bottom: solid 1px gray;
    background-color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    border-radius: 2px;
}

.input-search {
    background-color: whitesmoke;
    border: none;
    outline: none;
}

.icons-container {
    margin-right: 16%;
}

.icon-search {
    background-color: whitesmoke;
}

.icons {
    margin: 0 8px 0 8px;
}